body {
        background-color: indigo;
}

h1{
 color: lightcyan ;
margin-left: 385px;}

h2{ 
color: lightcyan ;
 margin-left: 240px;}
h3{ 
color: cyan;
margin-left: 485px;
}


p{ color: white;
}

h4{
 color : cyan ;
margin-left: 625px; }







h6{
color:white;
margin-left:725px;
margin-top:1000px;
}




a{
color:white;
margin-left:695px;
}

